@using CoffeeStore.Infrastructure
@model CoffeeStore.Models.Product
<style>
    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card {
        width: 300px;
        height: auto;
        border: none; /* Loại bỏ đường kẻ khung */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Loại bỏ bóng */
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        text-decoration: none;
        color: inherit;
    }
    .name {
        font-size: 18px;
    }
</style>

<div class="card card-outline-primary m-1 p-1">
    <a asp-controller="Category" asp-action="ProductDetail" asp-route-id="@Model?.ProductID">
        <img src="~/@Model?.ImageURL" class="img card-img-top" alt="@Model?.Name">
    </a>
    <div class="bg-faded p-1">
        <h4>
            <a class="name" asp-controller="Category" asp-action="ProductDetail" asp-route-id="@Model?.ProductID">
                @Model?.Name
            </a>
        </h4>
        <div class="d-flex justify-content-between align-items-center">
            <span class="badge rounded-pill bg-info text-white">
                <small>@Model?.Price.ToString("N0")</small>
            </span>
            @if (!string.IsNullOrEmpty(ViewBag.PhoneNumber))
            {
                <form id="form-@Model?.ProductID" asp-page="/Cart" method="post" class="d-inline">
                    <input type="hidden" name="productId" value="@Model?.ProductID" />
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" class="btn btn-info btn-sm text-white">
                        <i class="fas fa-plus"></i>
                    </button>
                </form>
            }
            else
            {
                <button type="button" class="btn btn-primary btn-sm text-white" onclick="alert('Vui lòng đăng nhập để thêm sản phẩm vào giỏ hàng.');">
                    <i class="fas fa-plus"></i>
                </button>
            }
        </div>
    </div>
</div>


