@page
<div class="text-center">
    <h2>Bạn đã thanh toán thành công!</h2>
    <p>Thanks for placing order #@OrderId</p>
    <p>Chúng tôi sẽ tranh thủ gửi sản phẩm đến bạn  </p>
    <a class="btn btn-primary" style="background-color:brown;border:0px" asp-controller="Home">Quay lại trang chủ</a>
</div>
@functions {
    [BindProperty(SupportsGet = true)]
    public string? OrderId { get; set; }
}
