@page "/admin/products/details/{id:long}"
@using System.Globalization
@inherits OwningComponentBase<ICoffeeRepository>
<h3 class="bg-info text-white text-center p-1">Details</h3>
<table class="table table-sm table-bordered table-striped">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Product?.ProductID</td>
        </tr>
        <tr>
            <th>Tên sản phẩm</th>
            <td>@Product?.Name</td>
        </tr>
        <tr>
            <th>Mô tả</th>
            <td>@Product?.Description</td>
        </tr>
        <tr>
            <th>Danh mục</th>
            <td>@Product?.Category</td>
        </tr>
        <tr>
            <th>Giá tiền</th>
            <td>@Product?.Price.ToString("N0", new CultureInfo("vi-VN")).Replace(",", ".")</td>
        </tr>
        <tr>
            <th>Hình minh họa</th>
            <td>
                <img src="@Product?.ImageURL" alt="@Product?.Name" style="max-height: 100px; max-width: 100px;" />
            </td>
        </tr>
    </tbody>
</table>
<NavLink class="btn btn-warning" href="@EditUrl">Edit</NavLink>
<NavLink class="btn btn-secondary" href="/admin/products">Back</NavLink>
@code {
    [Inject]
    public ICoffeeRepository? Repository { get; set; }
    [Parameter]
    public long Id { get; set; }
    public Product? Product { get; set; }
    protected override void OnParametersSet()
    {
        Product = Repository?.Products.FirstOrDefault(p => p.ProductID == Id);
    }
    public string EditUrl => $"/admin/products/edit/{Product?.ProductID}";
}
