@model CoffeeStore.Models.ViewModels.ProductsListViewModel
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Đường dẫn tới layout chung
}
<link rel="stylesheet" href="~/css/style.css" />
<h4 class="title text-center mt-3 rainbow-title">Welcome to Chill Coffee!</h4>

<div class="card-container">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4 mb-3">
            @await Html.PartialAsync("ProductSummary", product)
        </div>
    }
</div>
